# Project 03 -- Emilio Pozas

**TA Help:** 
    - Videos on examples book
    
**Collaboration:**

## Question 1

In [10]:
import os

In [6]:
len(os.listdir('/anvil/projects/tdm/data/noaa/'))#Help from videos

266

In [15]:
import pandas as pd
from pathlib import Path

In [17]:
myfiles=[]
for year in range (1880, 1884):
    file= Path(f'/anvil/projects/tdm/data/noaa/{year}.csv')
    myfiles.append(file)
print(myfiles)

[PosixPath('/anvil/projects/tdm/data/noaa/1880.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1881.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1882.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1883.csv')]

In [22]:
myfiles = [ Path(f'/anvil/projects/tdm/data/noaa/{year}.csv') for year in range (1880,1884)]
print(myfiles)

[PosixPath('/anvil/projects/tdm/data/noaa/1880.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1881.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1882.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1883.csv')]

## Question 2

In [24]:
with open('/anvil/projects/tdm/data/noaa/1880.csv',"r") as f:
    mycount = 0
    for line in f:
        mycount += 1
print(f'There are {mycount} records in the file called {file}')

There are 370779 records in the file called /anvil/projects/tdm/data/noaa/1883.csv

In [34]:
count = 0
for x in myfiles:
    with open(x,"r") as f:
        count += mycount
        mycount = 0
        for line in f:
            mycount += 1
files = len(myfiles)
print(f'There are {count} records in the {files} files altogether')

There are 1906862 records in the 4 files altogether

## Question 3

In [46]:
myDF= pd.read_csv(myfiles[0])

In [47]:
myDF.head()

   AGE00147705  18800101  PRCP   0 Unnamed: 4 Unnamed: 5  E  Unnamed: 7
0  AGE00147708  18800101  PRCP  36        NaN        NaN  E         NaN
1  AGE00147709  18800101  PRCP  36        NaN        NaN  E         NaN
2  AGE00147712  18800101  PRCP   0        NaN        NaN  E         NaN
3  AGE00147713  18800101  TMAX  52        NaN        NaN  E         NaN
4  AGE00147713  18800101  TMIN   0        NaN        NaN  E         NaN

In [48]:
myDF.tail()

        AGE00147705  18800101  PRCP    0 Unnamed: 4 Unnamed: 5  E  Unnamed: 7
370773  USW00093852  18801231  TMAX   39        NaN        NaN  X         NaN
370774  USW00093852  18801231  TMIN  -17        NaN        NaN  X         NaN
370775  USW00094728  18801231  TMAX -122        NaN        NaN  0         NaN
370776  USW00094728  18801231  TMIN -194        NaN        NaN  0         NaN
370777  USW00094728  18801231  PRCP    0        NaN        NaN  0         NaN

In [49]:
myDF= pd.read_csv(myfiles[0], header=None)

In [50]:
myDF.head()

             0         1     2   3    4    5  6   7
0  AGE00147705  18800101  PRCP   0  NaN  NaN  E NaN
1  AGE00147708  18800101  PRCP  36  NaN  NaN  E NaN
2  AGE00147709  18800101  PRCP  36  NaN  NaN  E NaN
3  AGE00147712  18800101  PRCP   0  NaN  NaN  E NaN
4  AGE00147713  18800101  TMAX  52  NaN  NaN  E NaN

In [52]:
pd.read_csv(myfiles[0],names = ["id","date","element_code","value","mflag","qflag","sflag","obstime"])

                 id      date element_code  value mflag qflag sflag  obstime
0       AGE00147705  18800101         PRCP      0   NaN   NaN     E      NaN
1       AGE00147708  18800101         PRCP     36   NaN   NaN     E      NaN
2       AGE00147709  18800101         PRCP     36   NaN   NaN     E      NaN
3       AGE00147712  18800101         PRCP      0   NaN   NaN     E      NaN
4       AGE00147713  18800101         TMAX     52   NaN   NaN     E      NaN
...             ...       ...          ...    ...   ...   ...   ...      ...
370774  USW00093852  18801231         TMAX     39   NaN   NaN     X      NaN
370775  USW00093852  18801231         TMIN    -17   NaN   NaN     X      NaN
370776  USW00094728  18801231         TMAX   -122   NaN   NaN     0      NaN
370777  USW00094728  18801231         TMIN   -194   NaN   NaN     0      NaN
370778  USW00094728  18801231         PRCP      0   NaN   NaN     0      NaN

[370779 rows x 8 columns]

In [55]:
mydataframes = [pd.read_csv(myfiles[x],names = ["id","date","element_code","value","mflag","qflag","sflag","obstime"]) for x in range(0,4)]

In [56]:
print(mydataframes)

[                 id      date element_code  value mflag qflag sflag  obstime
0       AGE00147705  18800101         PRCP      0   NaN   NaN     E      NaN
1       AGE00147708  18800101         PRCP     36   NaN   NaN     E      NaN
2       AGE00147709  18800101         PRCP     36   NaN   NaN     E      NaN
3       AGE00147712  18800101         PRCP      0   NaN   NaN     E      NaN
4       AGE00147713  18800101         TMAX     52   NaN   NaN     E      NaN
...             ...       ...          ...    ...   ...   ...   ...      ...
370774  USW00093852  18801231         TMAX     39   NaN   NaN     X      NaN
370775  USW00093852  18801231         TMIN    -17   NaN   NaN     X      NaN
370776  USW00094728  18801231         TMAX   -122   NaN   NaN     0      NaN
370777  USW00094728  18801231         TMIN   -194   NaN   NaN     0      NaN
370778  USW00094728  18801231         PRCP      0   NaN   NaN     0      NaN

[370779 rows x 8 columns],                  id      date element_code  value mflag qflag sflag  obstime
0       AGE00135039  18810101         PRCP     30   NaN   NaN     E      NaN
1       AGE00147705  18810101         PRCP    479   NaN   NaN     E      NaN
2       AGE00147708  18810101         PRCP    125   NaN   NaN     E      NaN
3       AGE00147709  18810101         PRCP    125   NaN   NaN     E      NaN
4       AGE00147711  18810101         PRCP      0   NaN   NaN     E      NaN
...             ...       ...          ...    ...   ...   ...   ...      ...
443265  UZM00038457  18811231         PRCP    100   NaN   NaN     r      NaN
443266  UZM00038457  18811231         TAVG     -3   NaN   NaN     r      NaN
443267  UZM00038618  18811231         TMIN    -71   NaN   NaN     r      NaN
443268  UZM00038618  18811231         PRCP    161   NaN   NaN     r      NaN
443269  UZM00038618  18811231         TAVG    -49   NaN   NaN     r      NaN

[443270 rows x 8 columns],                  id      date element_code  value mflag qflag sflag  obstime
0       AGE00135039  18820101         PRCP      0   NaN   NaN     E      NaN
1       AGE00147705  18820101         PRCP      0   NaN   NaN     E      NaN
2       AGE00147708  18820101         PRCP      0   NaN   NaN     E      NaN
3       AGE00147709  18820101         PRCP      0   NaN   NaN     E      NaN
4       AGE00147711  18820101         PRCP      0   NaN   NaN     E      NaN
...             ...       ...          ...    ...   ...   ...   ...      ...
514078  UZM00038457  18821231         PRCP      0   NaN   NaN     r      NaN
514079  UZM00038457  18821231         TAVG     16   NaN   NaN     r      NaN
514080  UZM00038618  18821231         TMIN     10   NaN   NaN     r      NaN
514081  UZM00038618  18821231         PRCP      0   NaN   NaN     r      NaN
514082  UZM00038618  18821231         TAVG     33   NaN   NaN     r      NaN

[514083 rows x 8 columns],                  id      date element_code  value mflag qflag sflag  obstime
0       AGE00135039  18830101         PRCP      0   NaN   NaN     E      NaN
1       AGE00147705  18830101         PRCP      0   NaN   NaN     E      NaN
2       AGE00147708  18830101         PRCP      0   NaN   NaN     E      NaN
3       AGE00147709  18830101         PRCP      0   NaN   NaN     E      NaN
4       AGE00147711  18830101         PRCP      0   NaN   NaN     E      NaN
...             ...       ...          ...    ...   ...   ...   ...      ...
578725  UZM00038457  18831231         PRCP      0   NaN   NaN     r      NaN
578726  UZM00038457  18831231         TAVG    -69   NaN   NaN     r      NaN
578727  UZM00038618  18831231         TMIN    -22   NaN   NaN     r      NaN
578728  UZM00038618  18831231         PRCP      0   NaN   NaN     r      NaN
578729  UZM00038618  18831231         TAVG      1   NaN   NaN     r      NaN

[578730 rows x 8 columns]]

In [67]:
for i in range(0,4):
    print(mydataframes[i].columns) #Tried not using print. Did not work inside of the for loop

Index(['id', 'date', 'element_code', 'value', 'mflag', 'qflag', 'sflag',
       'obstime'],
      dtype='object')
Index(['id', 'date', 'element_code', 'value', 'mflag', 'qflag', 'sflag',
       'obstime'],
      dtype='object')
Index(['id', 'date', 'element_code', 'value', 'mflag', 'qflag', 'sflag',
       'obstime'],
      dtype='object')
Index(['id', 'date', 'element_code', 'value', 'mflag', 'qflag', 'sflag',
       'obstime'],
      dtype='object')

## Question 4

In [73]:
for mydf in mydataframes:
    print(mydf['element_code'].unique())

['PRCP' 'TMAX' 'TMIN' 'SNOW' 'SNWD' 'TAVG' 'MDPR' 'DATN' 'DATX' 'MDTN'
 'MDTX' 'DAPR' 'DWPR' 'MDSF' 'WT01' 'TOBS' 'WT04' 'WT05']
['PRCP' 'TMAX' 'TMIN' 'TAVG' 'SNOW' 'SNWD' 'MDPR' 'MDSF' 'DATN' 'DATX'
 'MDTN' 'MDTX' 'WT04' 'DAPR' 'DWPR' 'TOBS']
['PRCP' 'TMAX' 'TMIN' 'TAVG' 'SNOW' 'SNWD' 'DATN' 'DATX' 'MDTN' 'MDTX'
 'DAPR' 'DWPR' 'MDPR' 'MDSF' 'WT04' 'TOBS' 'WT05' 'WT03' 'WT16' 'WT18'
 'DASF']
['PRCP' 'TMAX' 'TMIN' 'TAVG' 'SNOW' 'SNWD' 'DAPR' 'DWPR' 'MDPR' 'MDSF'
 'WT11' 'DATN' 'DATX' 'MDTN' 'MDTX' 'WT03' 'DASF' 'WT18' 'WT04' 'WT16'
 'WT08']

In [83]:
for mydf in mydataframes:
    print(mydf['element_code'].value_counts()["SNOW"])

33700
36451
40648
53417

Markdown notes and sentences and analysis written here.

## Question 5

In [79]:
import pandas as pd
from pathlib import Path
myfiles=[]
for year in range (1880, 1884):
    file= Path(f'/anvil/projects/tdm/data/noaa/{year}.csv')
    myfiles.append(file)

In [80]:
count = 0
for file in myfiles:
    for myDF in pd.read_csv(file,names=["id","date","element_code","value","mflag","qflag","sflag","obstime"],chunksize =10000):
        count += len(myDF[myDF['element_code'] == 'SNOW'])

print(count)

164216

In [81]:
count = 0
for file in myfiles:
    for myDF in pd.read_csv(file,names=["id","date","element_code","value","mflag","qflag","sflag","obstime"],chunksize =10000):
        for index, row in myDF.iterrows():
            if row['element_code'] == 'SNOW':
                count += 1

print(count)

164216

From my understanding. Chunk sizes mean that you create a different which is has less memory cost to run. You divide the dataframes by chunks that save the info and then it goes through the chunks iteratively when called upon. This means you load less information into the file, as it will call for the info when needed.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.